<div id="register" fxLayout="column">

    <div id="register-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

        <div id="register-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

            <div class="logo">
                <img src="assets/images/logos/fuse.svg">
            </div>

            <div class="title">CREATE AN ACCOUNT</div>

            <form name="registerForm" [formGroup]="registerForm" novalidate>

                <mat-form-field>
                    <input matInput placeholder="Name" id="name10" formControlName="name">
                    <mat-error *ngIf="registerFormErrors.name.required">
                        Name is required
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input matInput placeholder="Email" id="email10" formControlName="email">
                    <mat-error *ngIf="registerFormErrors.email.required">
                        Email is required
                    </mat-error>
                    <mat-error *ngIf="!registerFormErrors.email.required && registerFormErrors.email.email">
                        Please enter a valid email address
                    </mat-error>
                </mat-form-field>

                
                    <input matInput type="password" placeholder="Password" id="password" formControlName="password">
              

                    <input matInput type="password" placeholder="Password (Confirm)" id="passwordConfirm" formControlName="passwordConfirm">
               

                <div class="terms" fxLayout="row" fxLayoutAlign="center center">
                   <<ion-checkbox>                         <span>I read and accept</span>
                   </ion-checkbox>
                    <a href="#">terms and conditions</a>
                </div>

               
                <a [routerLink]="'/pages/auth/login'"><button mat-raised-button id="btnRegister" color="accent" class="submit-button" aria-label="CREATE AN ACCOUNT" >  CREATE AN ACCOUNT </button></a>

            </form>

            <div class="register" fxLayout="column" fxLayoutAlign="center center">
                <span class="text">Already have an account?</span>
                <a class="link" [routerLink]="'/pages/auth/login'">Login</a>
            </div>

        </div>

    </div>

</div>